<!DOCTYPE html>                         <!--тип документ-->
<html lang="en">                         <!-- язык содержимого контейнера-->
<head>                                  <!--для ключевой информации 'заголовки и тд.'-->
    <meta charset="UTF-8">
    <title>Ипотечный калькулятор</title>    <!--заголовок-->
    <h1 style ="color:#00008B; font-size:40px">Ипотечный калькулятор</h1>   <!-- цвет шрифта и размер-->
</head> <!-- конец заголовков -->
<body>              <!-- тело содержимого документа-->
<form action="" method="post">          <!-- создание формы для заполнения пользователем, использование метода post для отправки данных на сайт -->
    <h3> Сумма кредита:</h3>            <!-- тег суммы кредита-->
    <input type="text" name="num_1">    <!--поле num_1 для пользовательского ввода суммы кредита-->
    <h3>Срок кредита (в месяцах):</h3>  <!--тег суммы кредита-->
    <input type="text" name="num_2">    <!-- поле num_2 для пользовательского ввода срока кредита-->
    <h3>Процентная ставка (%):</h3>     <!--тег процентной ставки-->
    <input type="text" name="num_3">    <!-- поле num_3 для пользовательского ввода процентной ставки-->

    <form name="myForm" action="" method="post" onsubmit=""><br> <!--создание формы для указания платежей -->
    <input type="radio" name="options" id="option1" value="1"> Аннуитетный платеж </input><br> <!-- указание типа платежа-->
    <input type="radio" name="options" id="option2" value="2"> Дифференцированный платеж </input><br> <!-- указание типа платежа-->

    <input type="submit"> <!-- кнопка отправить-->
    </form>
    </form>     <!-- закрытие форм-->
    <h1>{{ans}}</h1>
    <h1>{{ans1}}</h1>
    <h1>{{ans2}}</h1>
</body> <!-- закрытие тела-->
</html> <!-- конец страницы-->